<!DOCTYPE html>
<html>
<head>
    <title>BikkyChem</title>
</head>

<body>
<img src="{{ url_for('static', filename='logo.png') }}"
     alt="BikkyChem Logo"
     style="width:120px; display:block; margin:0 auto 15px;">
    <h1>🧪 BikkyChem</h1>

    <h2>Guided Chemistry Learning</h2>

    <p>Prototype Version 1</p>

    <hr>

    <h3>Ask a Chemistry Question</h3>

    <form action="/ask" method="post">

        <textarea
            name="question"
            rows="6"
            cols="60"
            placeholder="Type your Chemistry question here..."
        ></textarea>

        <br><br>

        <button type="submit">
            ASK BIKKYCHEM
        </button>

    </form>

</body>
</html>
